---
import { VisualEditing } from "@sanity/astro/visual-editing";
import Container from "~/components/Container.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import ExitPreview from "~/components/Preview/Exit";
import SanityLiveMode from "~/components/Preview/SanityLiveMode";
import "~/styles/tailwind.css";
import { getSettings } from "~/utils/sanity";
import { getTheme } from "~/utils/theme";

const { preview } = Astro.locals;

const { title } = Astro.props;

const settings = await getSettings({
  preview: Astro.locals.preview,
  options: Astro.locals.loadQueryOptions,
});

const { siteTitle, favicon } = settings;

const url = Astro.request.url;

const theme = getTheme(Astro.cookies);
---

<html lang="en" class={theme !== "system" ? theme : ""}>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" href={favicon} type="image/svg+xml" />
    <link rel="canonical" href={url} />
    <meta name="viewport" content="width=device-width" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" />
    <title>{title} • {siteTitle}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-background">
    <Container className="flex flex-col min-h-screen">
      <Header theme={theme} />
      <slot />
      <Footer />
    </Container>
    {
      preview ? (
        <>
          <SanityLiveMode client:only="react" />
          <VisualEditing enabled={preview} zIndex={1000} />
          <ExitPreview client:only="react" />
        </>
      ) : null
    }
  </body>
</html>
