---
import { VisualEditing } from '@sanity/astro/visual-editing';
import Footer from '~/components/Footer.astro';
import Header from '~/components/Header.astro';
import ExitPreview from '~/components/Preview/Exit';
import SanityLiveMode from '~/components/Preview/SanityLiveMode';
import '~/styles/tailwind.css';
import { getSettings } from '~/utils/sanity';
import { getTheme } from '~/utils/theme';
import { type Seo } from '~/types/seo';

import '@fontsource/inter';
import '@fontsource/inter/300.css';
import '@fontsource/inter/300-italic.css';
import '@fontsource/inter/400-italic.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/700-italic.css';
// import "@fontsource-variable/inter/900-italic.css"; // Italic variant.
// Supports weights 100-900
// import interWoff2 from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";

interface Props {
  seo?: Seo;
}

const { preview } = Astro.locals;

const { seo } = Astro.props;

const title = seo?.title;
const metaDescription = seo?.metaDescription;

const settings = await getSettings({
  preview: Astro.locals.preview,
  options: Astro.locals.loadQueryOptions,
});

const { siteTitle, favicon, social } = settings;

const url = Astro.request.url;

const theme = getTheme(Astro.cookies);
---

<html
  lang="en"
  class:list={[
    'min-w-xs font-sans selection:bg-primary selection:text-white',
    theme === 'dark' ? 'dark' : undefined,
  ]}
>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" href={favicon} type="image/svg+xml" />
    <link rel="canonical" href={url} />
    <meta name="viewport" content="width=device-width" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" />
    <title>{title ? `${title} • ` : ''}{siteTitle}</title>
    {metaDescription && <meta name="description" content={metaDescription} />}
  </head>

  <body
    class="flex min-h-dvh flex-col bg-stone-200 bg-[image:radial-gradient(var(--pattern-fg)_1px,_transparent_0)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-zinc-950)]/5 dark:bg-zinc-900 dark:[--pattern-fg:var(--color-white)]/5"
  >
    <Header theme={theme} />
    <main class="w-full grow">
      <slot />
    </main>
    <Footer siteTitle={siteTitle} social={social} />
    {
      preview ? (
        <>
          <SanityLiveMode client:only="react" />
          <VisualEditing enabled={preview} zIndex={1000} />
          <ExitPreview client:only="react" />
        </>
      ) : null
    }
  </body>
</html>
